.scroll-top-btn {
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    right: calc(4.25rem + 1vw);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--main-color);
    color: var(--color2);
    cursor: pointer;
    outline: 0;
    border: 0;
    transition: all 0.3s ease-out;
  }
  
  .scroll-top-btn:hover {
    background-color: var(--color2);
    /* color: #aa5c01; */
    color: var(--main-color);
  }
  
   .hidden {
    visibility: hidden;
    opacity: 0;
  } 


/* .hidden {
    display: none;
    */
