/* paleta de colores*/
:root {
    --main-color: #f79e31;
    --strong-color: #d87c0b;
    --stronger-color: #aa5d00;
    --light-color: #ffb458;
    --lighter-color: #ffc681;
  }


/* Estilos generales*/
/* Estilos para FORMULARIOS */
/* Estilos para tablas todas las secciones*/
/* Estilos para botones*/

/* Estilos header logo, titulo, navegacion*/
/* Estilos para la sección de presentación (banner y formulario) */

/* Estilos para la sección de destinos */
/* Estilos para la sección de ofertas */
/* Estilos para la sección de testimonios */
/* Estilos para el footer */


/* Estilos generales*/
body
{
    display: block;
    /*tipo de fuente*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    background-color: white;
    line-height: 100%;

    /*color fondo por defecto*/
}

p{
    display: block;
    /*color de fuente*/
    color:gray;
    /*tamaño de fuente*/
    font-size: medium;
    /*interlineado*/
    line-height: 150%;
}

h1{
    display: block;
    /*color de fuente*/
    color:var(--stronger-color);
    /*tamaño de fuente*/
    font-size:large;
    font-weight: bolder;
    /*centrado*/
    text-align: center;
    margin: 10px;
}

h2{
    display: block;
    /*color de fuente*/
    color:var(--strong-color);
    /*tamaño de fuente*/
    font-size:large;
    /*centrado*/
    text-align: center;
}

h3{
    display: block;
    /*color de fuente*/
    color:var(--stronger-color);
    /*tamaño de fuente*/
    font-size:medium;
    font-weight: bolder;
    /*centrado*/
    text-align: center;
}

ul
{
    display: block;
    /*margen izquierdo*/
    margin-left: 20px;
    list-style-type: square;
}

li{
    display: block;
    /* bullet es un cuadrado */
    

}

/* Estilos para FORMULARIOS */
form {
    width:100%;
    height:300px;
    background-position:50%; 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-image: url(Biblioteca/banners/foto1banner.jpg);
    padding-top: 3px;
    padding-left:25%;
    color:white;
    font-weight: bold;

}

.form-group
{
padding:10px;
width:40%;
margin:auto;
background-color: rgba(145, 66, 23, 0.5);;

/*background transparente y con color de paleta*/

}
label {
    display: block;
    width:40%;
}

input,
textarea {
    width:40%;
    float:left;

    
}

input[type="submit"] {
    /*color*/
    background-color: #aa5d00;
    color:white;
    /*tipo de cursor*/
    cursor: pointer;
    margin-left:25%;

}

input[type="submit"]:hover {
    /*color  al pasar el boton*/
    background-color:#ffb458;

}


/*Estilos para tablas*/

table{
    /*color fondo en blanco*/
}

th{
    /*negrita*/
    font-weight: bold;
}
tr{
    /*centrado*/
    text-align: center;
}
td{    /*centrado*/
    text-align: center;
}

.tableTitulo1{
        /*fondo color */
        background-color: var(--stronger-color);
        font-weight: bold;
        padding: 10px;

}

.tableTitulo2{
            /*fondo color */
            background-color: var(--strong-color);

            /*tipo letra normal*/

}

.tableDestacado{
    /*fondo color*/
    background-color: var(--main-color);

}


/*Estilos para botones*/

.btn{
/*bordes redondeados*/
border-radius: 3%;
background-color: var(--strong-color);
/*longitud del 80% relativo a donde se encuentre*/
width:80%;
color:white;
margin:auto;
}

/*Estilos header logo, titulo, navegacion*/

header {
    display: block;
    /*logo positivo*/
    background-color: var(--main-color);
}

header .navbar-nav {
    /*color fondo*/
    float:right;

}

header.navbar {
    float: right;
    /*color fondo*/
    /*¿alineacion derecha?*/

}

header .nav-link {
    display: block;
    /*color fondo enlace*/
    background-color:#aa5d00 ;
    /*colo caracteres del enlace*/
    color:#ffc681;
}

header .nav-link:hover,
.nav-item:hover {
    display: block;
    /*color fondo enlace*/
    background-color: #ffb458;
    color:#aa5d00 ;

    /*colo caracteres del enlace*/
}



header .titulo
{
    display: block;
    /*tipo de letra*/
    font-variant: small-caps;
}

header .logo {
    background-image:url(../imagenes/logoPOSITIVO.png);
    background-size: contain; 
    background-repeat: no-repeat;
    width:300px;
    height:60px;
}

header .logo img {

}

/* estilos para la sección de presentación (BANNER)*/
.presentacion
{
    display: block;
    width:100%;
    height:300px;
    text-align: center;
}
/* Estilos para la sección de destinos */

.destinos {
    text-align: center;
    background-color: #ffc681;
    padding: 10px;
    width: 100%;
    clear:both;


}

.destino img {
    /* Espacio superior */
    width:80%;
    margin-left:20px;
    max-height: 150px;

}


.destino p {
    display: block;
    /* Espacio superior */
}


/* Estilos para la sección de ofertas */

.oferta {
    display: inline-block;
}

.oferta img {
    display: block;

}

.oferta p {
    display: block;

}




/* Estilos para la sección de testimonios */

.testimonio img {
    display: inline;


}

.testimonio p {
    display: block;
    padding-bottom: 10px;

}



/* Estilos para el footer */

footer {
    margin-top: 10px;
background-color: #f79e31;
bottom: 0;
position: relative;

}

footer div{
    /*ancho del 33% del footer*/
margin-top:20px;
text-align: center;
}
footer a {
    color:var(--stronger-color);
    width:30px;

}

footer a:hover {
    display: block;

}